@media screen and (min-width: 481px) and (max-width: 992px) {
  .what-you-get {
    &__header {
      padding-top: 54px;
      font-size: 31px;
    }
    &__content {
      flex-direction: row;
    }
    &__text{
      text-align: left;
    }

    &__icon {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__text-header {
      padding-bottom: 20px;
      font-size: 16px;
    }
    &__text-paragraph{
      font-size: 14px;
    }
  }
}


@media screen and (min-width: 993px){
  .what-you-get{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 50px;
    &__header {
      padding-top: 84px;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      font-size: 35px;
      order:2;
    }
    &__content-block{
        order:1;
        grid-row: 1/3;
        padding-top: 60px;
        padding-bottom: 70px;
      }
    &__content {
      flex-direction: row;
    }
    &__text{
      text-align: left;
    }

    &__icon {
      padding-left: 90px;
      padding-right: 30px;
    }

    &__text-header {
      padding-bottom: 20px;
      font-size: 16px;
    }
    &__text-paragraph{
      font-size: 14px;
    }

    &__image{
      margin-top: 0;
      overflow: hidden;
      order:3;
    }
  }
}

@media screen and (min-width: 1200px){
  .what-you-get{
    width: 1200px;
    margin:0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}