@import "000_variables";

.header {
  background-color: $basic-ink;
  &__container {
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    color: $basic-purple;
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    &__image {}
    &__text {
      display: none;
      margin: auto 0 auto 16px;
    }
  }
  &__button {
    margin: auto 0;
    border: none;
    border: 1px solid transparent;
    border-radius: 37px;
    background-color: $basic-purple;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 119px;
    height: 37px;
    &:hover {
      border: 1px solid $basic-purple;
      background-color: white;
      color: $basic-purple;
    }
  }
  &__hamburger {
    margin: auto 0;
    &__line {
      width: 26px;
      height: 3px;
      background-color: white;
      margin: auto 0 6px auto;
      border-radius: 3px;
      &:nth-child(1) {
        width: 20px;
      }
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: 101px;
    left: 0;
    width: 100%;
    text-align: center;
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #333333;
      margin: 0 15px;
    }
    &__item {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      padding: 10px 0px;
      &:last-child {
        margin-bottom: 10px;
      }
    }
    &__link {
      display: block;
      color: white;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
      text-align: left;
    }
    &__span {
      display: block;
      padding: 16px 0 16px 25px;
      border-left: 8px solid transparent;
      &:hover {
        border-left: 8px solid $basic-purple;
        color: $basic-purple;
      }
    }
  }  
}