@import "../000_variables";

@media only screen and (min-width: 576px) {
  .header {
    background-color: $basic-ink;
    &__container {
      flex-wrap: wrap;
    }
    &__logo {
      &__name {
        display: flex;
      }
    }
    &__button {}
    &__menu {
      display: flex;
      flex-direction: row;
      &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
      &__item {
        &:last-child {}
      }
      &__link {}
      &__span {
        &:hover {}
      }
    }
    &__hamburger {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) {
  .header {
    &__container {
    }
    &__logo {
      order: 1;
    }
    &__button {
      order: 3;
    }
    &__menu {
      order: 2;
      &__list {}
      &__item {}
    }
  }
}