.header {
  background-color: #27262a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 15px 30px 15px;
}

.header__button {
  background-color: #8d81ac;
  border: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  width: 119px;
  height: 37px;
 border-radius: 37px;
}

.header__hamburger {
  padding: 0px;
}

.header__hamburger--line {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  &:first-child {
    width: 20px;
    margin: 6px;
    padding: 0;
  }
}
